---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Oct 2023 – Dec 2023",
    title: "Software Development Intern",
    company: "Feesbook Technologies",
    description:
      "Created and launched multiple key features for a coaching mobile application using Flutter, ensuring seamless cross-platform performance and improving student engagement for 3,000+ active users. Implemented local data persistence using SQLite to securely store user progress, notes, and course content, enabling uninterrupted access even without internet connectivity and improving app reliability in low-network regions. Boosted app performance by introducing lazy loading techniques for handling large lists and high-resolution images, combined with custom-built animations for smoother navigation, which reduced average load times by 25%.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
